<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <pre>Go back shoo shoo</pre>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
