<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1><%= title %></h1>
    <p>Joe, Joe mama</p>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
